{% extends 'base.html' %}

{% block content %}

<br>
<form class="" action="" method="get">
  <input class="search_bar" type="text" name="search_string" placeholder="What song do you want to sing?">
  <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
</form>
<br>
<br>
    <h3>{{ top_five }}</h3>
<ol>
{% autoescape off %}
    {% for title, href in scraped_content %}
    <li><a href="{% url 'video_view' href|safe %}">{{ title }}</a></li>
        <br>
    {% endfor %}
{% endautoescape %}
</ol>
{% endblock %}